<as-split class="border" direction="vertical">
  <as-split-area class="d-flex flex-column" [size]="card.height">
    <div class="text-secondary d-flex" style="height:30px">
      <span class="flex-fill">{{card.label}}</span>
      <button (click)="card.parent.removeCard(card)" title="Remove Card">X</button>
    </div>
    <div class="flex-fill border d-flex align-items-center justify-content-center">CONTENT</div>
  </as-split-area>
  <as-split-area *ngIf="card.containers">
    <as-split>
      <as-split-area *ngFor="let container of card.containers" [size]="container.width">
        <app-container [container]="container"></app-container>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>